#carouselExampleAutoplaying{
    margin: 0 auto;
    width: 100%;
    }
    .carousel-item img{
        height: 400px;
        object-fit: cover;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 50%;
    
    }
    @media (min-width: 768px) {
        #carouselExampleAutoplaying{
        width: 80%;
        } 
        .carousel-item img{
        height: 500px;  
        }
    }