* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(img/disenioCaja.jpg);
    background-size: cover;
}
img{
    max-width: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(239, 244, 244);
    position: sticky;
    top: 0;
    z-index: 1;   
}

.logo-sombrero{
    width: 60px;
    height: 60px;
    object-fit: contain;
    background-color: rgb(195, 66, 98);
    margin: 10px;
    border-radius: 30px;
    padding: 3px;  
}
.cajaNav{
    display: flex;
    justify-content:space-between;
}

li {
    color: gray;
    list-style: none;
    
}

li a{
    text-decoration: none;
    color: grey;
    cursor: pointer;
    line-height: 20px;

}

.torta{
    width: 280px;
    height: 280px;
    object-fit: cover;
    margin: 5px;
    border-radius: 5px;
    transition: 1s;   
}
.torta:hover{
    transform: scale(1.3);
}

main{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
main a{
    text-decoration: none;
    font-weight:500;
    color: gray;
    cursor: pointer; 
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    background-color:rgba(248, 244, 244, 0.8) ;
    margin-bottom: 50px;
    margin-top: 20px;
    
}


.iconos {
    width: 30px;
    height: 30px;
    
}

#logo {
    width: 100%;
    height: 230px;
    display: flex;
    flex-direction: column;
    background-color: rgba(248, 244, 244, 0.8) ;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

h1{
    color:rgb(117, 117, 117) ;
    padding-top: 15px;
    font-size: 26px;
}
#logo img{
    width: 250px;
}
footer{
    background-color: rgb(58, 56, 56);
    padding: 30px;
    max-height: 400px;
}

.footer{
    color: beige ;

}

.footer a{
    color: beige; 
    text-decoration: none;
}

.contacto, .redes-sociales {
    color: #f5f5dc;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.padre-cards{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.card{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color:rgba(248, 244, 244, 0.8) ;
    border: none;    
}

.descripción-producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: transparent;
    
}

.agregar-al-carrito{
    background-color: rgb(58, 58, 58);
    padding: 8px 12px;
    color: rgb(245, 245, 236);
    font-size: 12px;
    font-weight: 100;
    cursor: pointer;
    border-radius: 3px;
    width: 12rem;
    margin-bottom: 6px;
}
.nombre-producto{
    font-size: 18px;
    padding: 1px 40px;
    font-weight: 300;
    color: rgb(29, 28, 28);
    line-height: 30px;
}
@media (min-width: 768px) {
    .nombre-producto {
    font-size: 15px;
    }
}

.precio-producto{
    padding: 0px 40px;
    font-weight: 500;
    font-size: 17px;
    color: rgb(29, 28, 28);
    line-height: 30px;
}
form{
    display: flex;
    flex-direction: column;
    width: 220px;
    padding: 20px;
}
@media (min-width: 768px){
    form{
        width: 400px;
        }
}

@media (min-width: 1024px){
    form{
        width: 500px;
        }
}

.iconos-contacto{
    width: 40px;
}
.info-contacto{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 60px;
}

.logo-contacto{
    display: flex;
    width: 250px;
    margin-top: 30px;
    align-items: center;
    justify-content: space-around;
    color: rgb(58, 58, 58);
}
.logo-contacto p{
    color: rgb(58, 58, 58);
    font-weight: 500;
    background-color: rgba(248, 244, 244, 0.7);
    padding: 10px;

}
.formulario{
    height: 25px;
    margin-top: 5px;
    margin-bottom: 15px;
}
#formulario-contacto label{
    color: rgb(58, 58, 58);
    background-color: rgba(248, 244, 244, 0.7);
}
.mapa{
    display: flex;
    align-items: center;
    padding-bottom: 80px;
    padding-left: 100px;
}
.mapa p{
    color: rgb(58, 58, 58);
    background-color: rgba(248, 244, 244, 0.7);
    padding: 10px;
}

header nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#carouselExampleAutoplaying{
margin: 0 auto;
width: 100%;
}
.carousel-item img{
    height: 400px;
    object-fit: cover;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;

}
@media (min-width: 768px) {
    #carouselExampleAutoplaying{
    width: 80%;
    } 
    .carousel-item img{
    height: 500px;  
    }
}

